<div class="dialog-wrapper">
    <div class="dialog-header">
        <h2 mat-dialog-title>New Feature</h2>
        <button mat-button mat-dialog-close><mat-icon aria-hidden="false" aria-label="icon notes"
            fontIcon="close"></mat-icon></button>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-content>
        <h4>Pipeline Module</h4>
        <h5>Finally here</h5>
        <p>
            New Feature This dialog showcases the title, close, content and actions elements.
        </p>
    </mat-dialog-content>
</div>
