.change-log{
    padding: 12px 10px;
    .title{
        position: relative;
        padding-left: 2rem;
        mat-icon{
            position: absolute;
            left: 0;
            font-size: 2rem;
            height: 30px;
            width: 30px;
        }
    }
    h5{
        
        font-size: 0.8rem;
        display: block;
        padding-left: 0.5rem;
        padding-right: 0.2rem;
        margin-bottom: 0.2rem;
        color: #003a87;
        font-weight: 300;
    }
    span{
        padding-left: 0.5rem;
        font-size: 1rem;
        font-weight: 400;
        
    }
    .date{
        position: absolute;
        right: 0;
        top: 0;
        font-size: 0.8rem;
        color: #878787;
    }
}